.navbar{
    background-color: #4649FF;
    height: 80px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    color:white;
    margin-right: 30px;
}


#responsible-navbar-nav{
    background-color: #4649FF;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
}

/* 
.navbar-container .navbar-nav .nav-link:hover {
    font-weight: bold;
} */



.auth{
    background-color: #B1B2FF;
    border-radius: 25px;
    color: black;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}

.auth:hover{
    color: black;
    background-color: #E6E6E6;
}