
.external-container {
    width: 100%;
    /* margin-top: 100px; */
    display: flex;
    height: 100%;
  }
  
  .form-container {
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.766);
  }
  
.signup-title{
    margin-top: 160px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.have-account{
    text-decoration: none;
    color: white;
}

.have-account:hover{
    color: white;
    font-weight: bold;
}

  .image-container {
    background-image: url(./login-img.jpg);
    width: 50%;
    background-size: cover;
    padding: 0;
    height: 900px;
    background-position: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="email"],
  input[type="password"]
  input[type="number"]
  input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  #firstname, #lastname, #phone, #licence, #password{
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    /* background-color: #163e1dac; */
    background-color: #d3d1d1;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover{
    font-weight: bold;
  }

 
  .error{
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    height: max-content;
    /* width: min-content; */
    text-align: center;
  }

